/* Step Navigation */
/* .stepNavContainer{
    width:80%;
    margin:0 auto;
}
.tab{
    cursor: pointer;
}
.tab>span>i{
    font-size: 5em;
    color:rgb(194, 194, 194);
} */
.margin-0{
    margin:0;
}
.Step3 form{
gap:2em;
padding:2em;
}

.group>.md-button{
font-size: large;

}
