
.md-nav-bar{
    height:auto;
    padding:1em;
    background-color: #106cc8 !important;
    
}

nav>ul>li>a>span{
    font-size:1.5em;
    padding:1.5em !important;
    color:white !important;
    
}
nav>ul>li>.md-active 
{
    background-color: #ff4081;
    
}
nav>ul>li>a:active>span{
    font-size:1.5em;
    padding:1.5em !important;
 
   
}
.stepNavContainer{
    width:80%;
    margin:2em auto;
}
.tab{
    cursor: pointer;
    background: none;
    border:none;
}
.tab:disabled{
    cursor: not-allowed;
}
.tab>span>i{
    font-size: 5em;
    color:#3f51b5de;
}
.tabIconContainer .material-icons{
    font-size: 5em !important;
    color:#3f51b5de;
}
.tab:disabled{
    cursor: not-allowed;
    filter: grayscale(1);
}
.active>span>i{
    color:#3f51b5;
}
.margin-0{
    margin:0;
}
.Step3 form{
gap:2em;
padding:2em;
}

.group>.md-button{
font-size: large;

}
.progress{
    height:2px;
    background-color: #3f51b5;
    width:0;
}
.p-0{
width:16.5%;
}
.p-50{
    width:50%;
}
.p-100{
    width:100%;
}
