<div class="Step3">
  <h1>Experience</h1>
  <div class="controlSection" layout="row" layout-align="flex-start center">
    <md-button class="md-raised md-primary" ng-click="submitData(0)">Prev</md-button>
  </div>
  <form class="md-padding" novalidate  layout="column">
    <div class="experienceContainer group">
      <md-content>Experience</md-content>
      <div>
        <md-input-container>
          <label> Designation </label>
          <input type="text" ng-model="User.Experience.designation" />
        </md-input-container>
        <md-input-container>
          <label> Organisation </label>
          <input type="text" ng-model="User.Experience.Organisation" />
        </md-input-container>
        <md-input-container>
          <label>From </label>
          <md-datepicker
            ng-model="User.Experience.sDate"
            md-placeholder="Enter date"
            md-mode="month"
          ></md-datepicker>
        </md-input-container>
        <md-input-container>
          <label>To </label>
          <md-datepicker
            ng-model="User.Experience.eDate"
            md-placeholder="Enter date"
            md-mode="month"
          ></md-datepicker>
        </md-input-container>
      </div>
      <!-- <md-button class="md-fab md-primary md-mini margin-0" ng-click="AddField()">+</md-button> -->
    </div>
    <div class="projectsContainer group">
        <md-content>Projects</md-content>
        <div>
            <md-input-container>
              <label> Title </label>
              <input type="text" ng-model="User.project.title"/>
            </md-input-container>
            <md-input-container>
              <label> Description </label>
              <textarea ng-model="User.project.description"></textarea>
            </md-input-container>
            <md-input-container>
              <label>From </label>
              <md-datepicker
                ng-model="User.project.sDate"
                md-placeholder="Enter date"
                md-mode="month"
              ></md-datepicker>
            </md-input-container>
            <md-input-container>
              <label>To </label>
              <md-datepicker
                ng-model="User.project.eDate"
                md-placeholder="Enter date"
                md-mode="month"
              ></md-datepicker>
            </md-input-container>
          </div>
          <!-- <md-button class="md-fab md-primary md-mini margin-0" ng-click="AddField()">+</md-button> -->
    </div>
    <div class="achievementsContainer group">
        <md-content>Achievements</md-content>
        <div>
            <md-input-container>
              <label> Title </label>
              <input type="text" ng.model="User.achievements.title" />
            </md-input-container>
            <md-input-container>
              <label> Description </label>
              <textarea ng-model="User.achievements.description"></textarea>
            </md-input-container>
          </div>
          <!-- <md-button class="md-fab md-primary md-mini margin-0" ng-click="AddField()">+</md-button> -->
    </div>
    <div layout="row" layout-align="center" >
        <md-button class="md-primary md-raised md-block margin-0" ng-click="submitData()">Submit</md-button>
    </div>
  </form>
</div>
