<div class="Step1">
    <h1>Personal Details</h1>
    <div class="controlSection" layout="row" layout-align="end center">
       
        <md-button class="md-raised md-primary" ng-click="submitData()">Next</md-button>
    </div>
    <form name="userForm" class="md-padding" novalidate layout="column" >
        <md-input-container>
            <label>Name</label>
            <input type="text" name="name" ng-model="User.name" required>
            <div ng-messages="userForm.name.$error">
              <div ng-show="userForm.name.$invalid" ng-message="required">
               You name is required.
               </div>
            </div>
          </md-input-container>
          <md-input-container>
            <label>Contact No</label>
            <input type="number" name="number" min="1000000000"
            max="9999999999" ng-model="User.number" required>
            <div ng-messages="userForm.number.$error">
              <div ng-show="userForm.number.$invalid" ng-message="invalid">
               Enter valid number
               </div>
            </div>  
          </md-input-container>
          <md-input-container>
            <label>Email</label>
            <input type="email" name="email" ng-model="User.email" required>
            <div ng-messages="userForm.email.$error">
              <div ng-show="userForm.email.$invalid" ng-message="required">
               You Email is required.
               </div>
            </div>
          </md-input-container>
          <div layout="row" layout-align="center">
            <md-button class="md-primary md-raised md-block margin-0" ng-click="submitData()" >Submit</md-button>
        </div>
    </form>
</div>
